<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.concavenp.artistrymuse">

    <!--
        This permission is not required for Firebase Storage and is only used to read
        files from the camera and upload them to Firebase Storage as a demonstration.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectActivity"
            android:label="@string/title_activity_project"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>
        <activity
            android:name=".InspirationActivity"
            android:label="@string/title_activity_inspiration"
            android:parentActivityName=".ProjectActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.ProjectActivity" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>
        <activity
            android:name=".CreateProjectActivity"
            android:label="@string/title_activity_create_project"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>

        <receiver android:name=".widget.ArtistryAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/artistry_app_widget_info" />
        </receiver>

        <activity android:name=".widget.ArtistryAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.UploadService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!--
          Android N SDK has new restrictions around sharing file:// URIs
          https://developer.android.com/reference/android/support/v4/content/FileProvider.html#ProviderDefinition
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.concavenp.artistrymuse.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>