<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ ArtistryMuse is an application that allows artist to share projects
  ~ they have created along with the inspirations behind them for others to
  ~ discover and enjoy.
  ~ Copyright (C) 2017  David A. Todd
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.concavenp.artistrymuse">

    <!--Permission needed for a saving location for user taken images-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--Feature needed in order to gain access to the camera for taking pictures-->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:name=".ArtistryMuseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectEditActivity"
            android:label="@string/title_activity_project"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>
        <activity
            android:name=".InspirationEditActivity"
            android:label="@string/title_activity_inspiration"
            android:parentActivityName=".ProjectEditActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.ProjectEditActivity" />
        </activity>
        <activity
            android:name=".ProjectDetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>

        <receiver android:name=".widget.ArtistryAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/artistry_app_widget_info" />
        </receiver>

        <service
            android:name=".services.ArtistryAppWidgetService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.UserAuthenticationService"
            android:enabled="true"
            android:exported="false" />

        <!--For Apps targeting Android 7.0 (API level 24) and higher, passing a file:// URI across a -->
        <!--package boundary causes a FileUriExposedException. Therefore, we now present a more -->
        <!--generic way of storing images using a FileProvider.-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.concavenp.artistrymuse"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".UserDetailsActivity"
            android:label="@string/title_activity_user_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.concavenp.artistrymuse.MainActivity" />
        </activity>
    </application>

</manifest>